/*

!.gitignore

!/openpayz
/openpayz/*
!/openpayz/backend
/openpayz/backend/*
!/openpayz/backend/concordpay

!/openpayz/frontend
/openpayz/frontend/*
!openpayz/frontend/concordpay

!/userstats
/userstats/*
!/userstats/config
userstats/config/*
userstats/config/opayz.ini
userstats/config/userstats.ini
!userstats/config/opayz-example.ini
!userstats/config/userstats-example.ini

openpayz/backend/concordpay/config/concordpay.ini